@charset "utf-8";

.about_us {
    font-size: 14px;
}

.copyright {
    font-size: 12px;
    color: #ccc;
}

.sns_menu {
    margin: 20px auto;
}

.sns_menu>li {
    display: inline-block;
}

.snslogo {
    border: none;
    box-shadow: none;
    background-color: #fff;
    width: 35px;
    height: 35px;
    font-size: 0px;
    margin: 10px;
}
.snslogo:hover, 
.snslogo:active,
.snslogo:focus{
    background-color: #fff;
}

.kakao {
    background: url(/images/sns_icon/kakao.png) no-repeat 0 0;
    background-size: cover;
}
.twitter {
    background: url(/images/sns_icon/twitter.png) no-repeat 0 0;
    background-size: cover;
}
.facebook {
    background: url(/images/sns_icon/facebook.png) no-repeat 0 0;
    background-size: cover;
}
.naver {
    background: url(/images/sns_icon/naver.png) no-repeat 0 0;
    background-size: cover;
}

.address {
    font-size: 0.8em;
}