@charset "utf-8";
@import url(/css/reset.css);
@import url(/css/header.css);
@import url(/css/footer.css);

.img_banner {
    background: url("/images/mainImg.jpg") no-repeat 0 0;
    background-size: cover;
}

.test_box {
    width: 40%;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
}

.c_1 {
    color: #67D5B5;
}

.c_2 {
    color: #EE7785;
}

.c_3 {
    color: #84B1ED;
}

.c_4 {
    color: #FFBC42;
}