@charset "utf-8";
@import url(/css/reset.css);
@import url(/css/header.css);
@import url(/css/footer.css);

/*web 1024~*/
@media all and (min-width:1025px) {
    .checkBox {
        width: 800px;
        text-align: center;
        line-height: 30px;
        margin: 0 auto 30px auto;
    }
}

/*ipad 768 ~ 1024*/
@media all and (max-width:1024px) and (min-width:768px) {
    .checkBox {
        width: 600px;
        text-align: center;
        font-size: 1.2em;
        margin: 0 auto 30px auto;
    }
}

/*iphone 320 ~ 667*/
@media all and (max-width:767px) and (min-width:320px) {
    .checkBox {
        text-align: center;
        width: 100%;
        margin: 0 auto 30px auto;
        height: 200px;
    }
}

.comment {
    width: 100%;
    height: 120px;
}

#question {
    padding: 0 30px;
}

.right {
    display: block;
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 30px;
}

.notRight {
    display: block;
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 30px;
}

.checkBox>ul {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.checkBox>ul>a>li {
    display: inline-block;
    margin: 7px;
}

@media all and (max-width:374px) and (min-width:320px) {
    .checkBox>ul>a>li {
        display: inline-block;
        margin: 3px;
    }
}

.checkBox>div {
    margin: 20px;
}

#return {
    width: 100%;
    height: 40px;
    margin: 30px auto;
}

.returnBox {
    display: inline-block;
    font-size: 30px;
}

#resultBox>a {
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}